<body class="container"> 
    <div class="jumbotron shadow-lg p-3 mb-5 bg-white rounded">
        <p class="text-info">Date:  <span><%=order.date %></span></p>
        <hr>
        <p class="text-info">Payment Status:  <span style="margin-left: 50px;"><%=order.paymentStatus %></span></p>
        <hr>
        <p class="text-info">Payment for:  <span style="margin-left: 50px;"><%=order.summary %></span></p>
        <hr>
        <p class="text-info">Amount:  <span style="margin-left: 50px;"><%=order.totalCost%></span></p>
        <hr>
        <p class="text-info">Phone <span style="margin-left: 50px;"><%=order.phoneNumber%></span></p>
        <hr>
        <p class="text-info">Delivery Address:  <span style="margin-left: 50px;"><%=order.deliveryAddress%></span></p>
        <hr>
<a class="btn btn-info" href="/">Return home</a>
        <hr>
    </div>
    
</body>